# ide config
.vscode
# mac related files
.DS_Store
# python chache files
*.pyc
# uploaded images
mednet_app/static/uploads/*
# remove jupyter_notebook unecessary files
Notebooks_Data/Medical-MNIST-Classification/images
Notebooks_Data/Medical-MNIST-Classification/resized
Notebooks_Data/Medical-MNIST-Classification/hints.txt
Notebooks_Data/Medical-MNIST-Classification/.ipynb_checkpoints
*.ipynb_checkpoints

