# ide config
.vscode
# mac related files
.DS_Store
# python chache files
*.pyc
# uploaded images
mednet_app/static/uploads/*
# remove jupyter_notebook unecessary files
Medical-MNIST-Classification/images
Medical-MNIST-Classification/resized
Medical-MNIST-Classification/hints.txt
Medical-MNIST-Classification/.ipynb_checkpoints
