<!DOCTYPE html>
<htlm lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <div><a class="home-link" href="{{ url_for('home.index') }}">
                    <img src="{{ url_for('static', filename='icons/home.png') }}" alt="Home" width="50px"></a></div>
            <h1>Prediction application</h1>
            <div class="empty-header-div"></div>
        </header>  
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</htlm>